{{ define "index" }}

{{ template "header" }}



    <!-- Home -->

    <div class="home">
        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">
            <!-- Slider Item -->
            <div style="margin: 0; padding: 0;">
                <div class="owl-item home_slider_item">
                    <img src="/assets/images/water1.jpg" alt="">
                    <!-- <div class="home_slider_background"></div> -->
                    <div class="home_slider_content_container">
                        <div class="home_slider_content"  data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">                                                   
                        <!-- <div class="home_slider_title">Территория чистой воды</div>   -->  
                    </div>
                    </div>
                </div>
            </div>
            <div style="margin: 0; padding: 0;">
            <!-- Slider Item -->
                <div class="owl-item home_slider_item">
                    <img src="/assets/images/s1.jpg" alt="">
                    <!-- <div class="home_slider_background" style="background-image:url();"></div> -->
                    <div class="home_slider_content_container">
                        <div class="home_slider_content"  data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin: 0; padding: 0;">
                <!-- Slider Item -->
                <div class="owl-item home_slider_item">
                    <img src="/assets/images/carusel3.jpg" alt="" >
                    <!-- <div class="home_slider_background" style="background-image:url()"></div> -->
                    <div class="home_slider_content_container">
                        <div class="home_slider_content"  data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                        </div>
                    </div>
                </div>
            </div>
           <div style="margin: 0; padding: 0;">
               <!--  Slider Item -->
                <div class="owl-item home_slider_item">
                    <img src="/assets/images/s4.jpg" alt="">
                   
                    <div class="home_slider_content_container">
                        <div class="home_slider_content"  data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                        </div>
                    </div>
                </div>
            </div>            
        </div> 

        <!-- Home Slider Dots -->
        
        <div class="home_slider_dots_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_slider_dots">
                            
                        </div>
                    </div>
                </div>
            </div>  
        </div>

</div>
</div>




<!-- Icon Boxes -->
	<div class="icon_boxes">
		<div class="container">
		  <div class="row icon_box_row">
			
			<!-- Icon Box -->
			<div class="col-lg-3 icon_box_col">
			  <div class="icon_box">
				<div class="icon_box_image"><img src="/templates/images/icon_1.svg" alt=""></div>
				<div class="icon_box_title">Free Shipping Worldwide</div>
				<div class="icon_box_text">
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
				</div>
			  </div>
			</div>
	
			<!-- Icon Box -->
			<div class="col-lg-3 icon_box_col">
			  <div class="icon_box">
				<div class="icon_box_image"><img src="/templates/images/icon_1.svg" alt=""></div>
				<div class="icon_box_title">Free Shipping Worldwide</div>
				<div class="icon_box_text">
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
				</div>
			  </div>
			</div>
	
			<!-- Icon Box -->
			<div class="col-lg-3 icon_box_col">
			  <div class="icon_box">
				<div class="icon_box_image"><img src="/templates/images/icon_2.svg" alt=""></div>
				<div class="icon_box_title">Free Returns</div>
				<div class="icon_box_text">
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
				</div>
			  </div>
			</div>
	
			<!-- Icon Box -->
			<div class="col-lg-3 icon_box_col">
			  <div class="icon_box">
				<div class="icon_box_image"><img src="/templates/images/icon_3.svg" alt=""></div>
				<div class="icon_box_title">24h Fast Support</div>
				<div class="icon_box_text">
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
				</div>
			  </div>
			</div>
	
		  </div>
		</div>
	  </div>

	
	<div class="photo">
		<img src="/templates/images/photo.jpg" alt="">
	</div>
	
	

	<!-- Products -->
	<h3 class="heading heading_col">Товары со скидками</h3>
	<div class="products">
		<div class="container">
			<div class="row">
				<div class="col">
					
					<div class="product_grid">

					<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="/templates/images/product_1.jpg" alt=""></div>
							<div class="product_extra product_new"><a href="#">New</a></div>
							<div class="product_content">
								<div class="product_title"><a href="">Smart Phone</a></div>
								<div class="product_price">$670</div>
							</div>
						</div>

						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="/templates/images/product_2.jpg" alt=""></div>
							<div class="product_extra product_sale"><a href="#">Sale</a></div>
							<div class="product_content">
								<div class="product_title"><a href="product.html">Smart Phone</a></div>
								<div class="product_price">$670</div>
							</div>
						</div>

						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="/templates/images/product_3.jpg" alt=""></div>
							<div class="product_content">
								<div class="product_title"><a href="">Smart Phone</a></div>
								<div class="product_price">$670</div>
							</div>
						</div>

						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="/templates/images/product_4.jpg" alt=""></div>
							<div class="product_content">
								<div class="product_title"><a href="">Smart Phone</a></div>
								<div class="product_price">$670</div>
							</div>
						</div>
						
					</div>
						
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="blog">
			<div class="image" style="background-image: url(/templates/images/ro344.png)"></div>
			<div class="text">
				<div class="blog-name">Экономит до 9 тонн воды в год</div>
				<p>Инновационный водоводяной бак экономит до 9 тонн воды в год относительно классических обратноосмотических систем с водовоздушным баком.</p>
				Он намного компактнее обычного, поэтому Морион занимает в 2 раза меньше места под мойкой, чем стандартная обратноосмотическая система. Скорость набора воды у Мориона в 2 раза выше, чем у стандартного обратноосмотического фильтра.
				<p></p>
				
			</div>
		</div>
		<div class="blog">
			<div class="text">
				<div class="blog-name">Экономит до 9 тонн воды в год</div>
				<p>Инновационный водоводяной бак экономит до 9 тонн воды в год относительно классических обратноосмотических систем с водовоздушным баком.</p>
				Он намного компактнее обычного, поэтому Морион занимает в 2 раза меньше места под мойкой, чем стандартная обратноосмотическая система. Скорость набора воды у Мориона в 2 раза выше, чем у стандартного обратноосмотического фильтра.
				<p></p>
				
			</div>
			<div class="image" style="background-image: url(/templates/images/ro344.png)"></div>
		</div>
		<div class="blog">
			<div class="image" style="background-image: url(/templates/images/ro344.png)"></div>
			<div class="text">
				<div class="blog-name">Экономит до 9 тонн воды в год</div>
				<p>Инновационный водоводяной бак экономит до 9 тонн воды в год относительно классических обратноосмотических систем с водовоздушным баком.</p>
				Он намного компактнее обычного, поэтому Морион занимает в 2 раза меньше места под мойкой, чем стандартная обратноосмотическая система. Скорость набора воды у Мориона в 2 раза выше, чем у стандартного обратноосмотического фильтра.
				<p></p>
				
			</div>
		</div>

	</div>
{{ end }}